doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		//Page infos
		-var title = "Articles by Afonso Pacifer"
		-var description = "The list of articles written by Afonso Pacifer"
		
		// SEO
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS3, Javascript, Articles")
		meta(name="description" content=description)
		meta(name="robots" content="index,follow")
		title= title

		// Open Graph
		meta(property="og:type" content="website")
		meta(property="og:title" content= title)
		meta(property="og:description" content=description)
		meta(property="og:url" content="http://afonsopacifer.com/articles.html")
		meta(property="og:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")

		// Twitter Cards
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:title" content= title)
		meta(name="twitter:description" content=description)
		meta(name="twitter:url" content="http://afonsopacifer.com/articles.html")
		meta(name="twitter:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")
		
	body

		// top bar
		// -----------------------------------------
		include ./includes/top-bar.jade
					
		// main
		// -----------------------------------------
		main.main
			div.container-centered
				h1.heading-lv1.articles-icon Articles
		
			// Articles
			// Get and parse the projects.json file by Grunt	
			- for article in articles
				- var img = article.img
				- var alt = article.alt
				- var name = article.name
				- var description = article.description
				- var url = article.url
				- var date = article.date
				- var local = article.local
					article(class="box" itemscope itemtype="http://schema.org/Article")
						img(src="assets/img/articles-covers/"+img alt=alt itemprop="image")
						h2(class="heading-lv2" itemprop="headline")=name
						p.paragraph
							b.strong Published: 
							span(itemprop="datePublished")=date
						p(class="paragraph")=description
						p.paragraph
							a(href=url class="btn" itemprop="url" target="_blank") Read on 
								span=local

		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade

		// footer
		// -----------------------------------------
		include ./includes/footer.jade
