doctype html
html(lang="en")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		// SEO
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS3, Javascript, Articles")
		meta(name="description" content="A list of articles writed by Afonso Pacifer.")
		meta(name="robots" content="index,follow")
		title Articles by Afonso Pacifer

	body

		// top bar
		// -----------------------------------------
		include ./includes/top-bar.jade
					
		// main
		// -----------------------------------------
		main.main
			div.container
				h1.heading-lv1 Articles
		
			// Articles
			// Get and parse the projects.json file by Grunt	
			- for (var i = 0; i < articles.length; i++)
				- var name = articles[i].name
				- var description = articles[i].description
				- var url = articles[i].url
				- var date = articles[i].date
				- var local = articles[i].local
					article.article 
						h2.heading-lv2=name
						p.paragraph 
							b.strong Published: 
							span=date
						p.paragraph=description
						p.paragraph
							a(href=url class="btn") Read on 
								span=local

					
		// footer
		// -----------------------------------------
		include ./includes/footer.jade
			
		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
