doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		//Page infos
		-var title = "demonstrations using some frameworks or tools made by Afonso Pacifer"
		-var description = "demonstrations using some frameworks or tools made by Alfonso pacifer"
		
		// SEO
		meta(name="keywords" content="Afonso Pacifer, flex-grid-frameworks, flexbox, CSS3, Atomic Design, microscope")
		meta(name="description" content=description)
		meta(name="robots" content="index,follow")
		title= title

		// Open Graph
		meta(property="og:type" content="website")
		meta(property="og:title" content= title)
		meta(property="og:description" content=description)
		meta(property="og:url" content="http://afonsopacifer.com/demos.html")
		meta(property="og:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")

		// Twitter Cards
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:title" content= title)
		meta(name="twitter:description" content=description)
		meta(name="twitter:url" content="http://afonsopacifer.com/demos.html")
		meta(name="twitter:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")
		
	body

		// top bar
		// -----------------------------------------
		include ./includes/top-bar.jade
					
		// main
		// -----------------------------------------
		main.main
			section.container
				h1.heading-lv1 Demos
				
			//- Demos
			//- Get and parse the projects.json file by Grunt	
			- for demo in demos
				article(class="article" itemscope itemtype="http://schema.org/CreativeWork")
					h2(class="heading-lv2" itemprop="name")=demo.name
					p.paragraph
						b.strong Plataform: 
						span(itemprop="")=demo.project
						br
						b.strong Version: 
						span(itemprop="")=demo.version
					p(class="paragraph" itemprop="description")=demo.description
					p.paragraph
						a(href=demo.url class="btn" itemprop="url") View demo

		// footer
		// -----------------------------------------
		include ./includes/footer.jade
			
		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
