doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		//Page infos
		-var title = "Projects by Afonso Pacifer"
		-var description = "A list of open source projects developmented by Afonso Pacifer"
		
		// SEO
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS3, Javascript, Open Source, Github, Projects")
		meta(name="description" content=description)
		meta(name="robots" content="index,follow")
		title= title

		// Open Graph
		meta(property="og:type" content="website")
		meta(property="og:title" content= title)
		meta(property="og:description" content=description)
		meta(property="og:url" content="http://afonsopacifer.com/projects.html")
		meta(property="og:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")
		
	body

		// top bar
		// -----------------------------------------
		include ./includes/top-bar.jade
					
		// main
		// -----------------------------------------
		main.main
			div.container
				h1.heading-lv1 Projects
				
			// Project =
			// Get and parse the projects.json file by Grunt
			- for (var i = 0; i < projects.length; i++)
				- var name = projects[i].name
				- var description = projects[i].description
				- var url = projects[i].url
				- var user = projects[i].user
					a(href=url class="project")
						h2.heading-lv2=name
							div.star-buttom
								div.star
								iframe(class="star-count" src="https://ghbtns.com/github-btn.html?user="+user+"&repo="+name+"&type=star&count=true" frameborder="0" scrolling="0")
						p.paragraph=description
			
			div.container-centered
				a(href="https://github.com/afonsopacifer?tab=repositories" class="btn") See all projects
				

		// footer
		// -----------------------------------------
		include ./includes/footer.jade
			
		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
