doctype html
html(lang="en" prefix="og: http://ogp.me/ns#") 

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		//Page infos
		-var title = "Projects by Afonso Pacifer"
		-var description = "The list of open source projects developed by Afonso Pacifer"
		
		// SEO
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS3, Javascript, Open Source, Github, Projects")
		meta(name="description" content=description)
		meta(name="robots" content="index,follow")
		title= title

		// Open Graph
		meta(property="og:type" content="website")
		meta(property="og:title" content= title)
		meta(property="og:description" content=description)
		meta(property="og:url" content="http://afonsopacifer.com/projects.html")
		meta(property="og:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")

		// Twitter Cards
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:title" content= title)
		meta(name="twitter:description" content=description)
		meta(name="twitter:url" content="http://afonsopacifer.com/projects.html")
		meta(name="twitter:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")
		
	body

		// top bar
		// -----------------------------------------
		include ./includes/top-bar.jade
					
		// main
		// -----------------------------------------
		main.main

			section.container-centered
				h1.heading-lv1.projects-icon Personal Projects

			// Get and parse the projects.json file by Grunt
			- for personal_project in personal_projects
				- var name = personal_project.name
				- var description = personal_project.description
				- var url = personal_project.url
				- var user = personal_project.user
				- var emoji = personal_project.emoji
					a(href=url class="box-project" itemscope itemtype="http://schema.org/CreativeWork")
						h2(class="heading-lv2" itemprop="name")
							img(src="assets/img/emojis/"+emoji class="emojis")
							span=name
							div.star-buttom
								div.star
								iframe(class="star-count" src="https://ghbtns.com/github-btn.html?user="+user+"&repo="+name+"&type=star&count=true" frameborder="0" scrolling="0")
						p(class="paragraph" itemprop="description")=description

			section.container-centered
				h1.heading-lv1.core-projects-icon Core Team Member

			// Get and parse the projects.json file by Grunt
			- for core_project in core_projects
				- var name = core_project.name
				- var description = core_project.description
				- var url = core_project.url
				- var user = core_project.user
					a(href=url class="box-project" itemscope itemtype="http://schema.org/CreativeWork")
						h2(class="heading-lv2" itemprop="name")=name
							div.star-buttom
								div.star
								iframe(class="star-count" src="https://ghbtns.com/github-btn.html?user="+user+"&repo="+name+"&type=star&count=true" frameborder="0" scrolling="0")
						p(class="paragraph" itemprop="description")=description
			
			div.container-centered
				a(href="https://github.com/afonsopacifer?tab=repositories" class="btn") See all projects

		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade

		// footer
		// -----------------------------------------
		include ./includes/footer.jade
