doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		//Page infos
		-var title = "Talks by Afonso Pacifer"
		-var description = "The list of talks presented by Alfonso pacifer"
		
		// SEO
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS3, Javascript, Talks, Presentations")
		meta(name="description" content=description)
		meta(name="robots" content="index,follow")
		title= title

		// Open Graph
		meta(property="og:type" content="website")
		meta(property="og:title" content= title)
		meta(property="og:description" content=description)
		meta(property="og:url" content="http://afonsopacifer.com/talks.html")
		meta(property="og:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")

		// Twitter Cards
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:title" content= title)
		meta(name="twitter:description" content=description)
		meta(name="twitter:url" content="http://afonsopacifer.com/talks.html")
		meta(name="twitter:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")
		
	body

		// top bar
		// -----------------------------------------
		include ./includes/top-bar.jade
					
		// main
		// -----------------------------------------
		main.main
			section.container
				h1.heading-lv1 Coming next
				
			// Articles
			// Get and parse the projects.json file by Grunt	
			- for (var i = 0; i < talks_next.length; i++)
				- var event = talks_next[i].event
				- var theme = talks_next[i].theme
				- var date = talks_next[i].date
				- var local = talks_next[i].local
				- var address = talks_next[i].address
				- var dateschema = talks_next[i].dateschema
					article(class="article" itemscope itemtype="http://schema.org/Event")
						h2(class="heading-lv2" itemprop="name")=event
						p.paragraph
							b.strong Theme: 
							span(itemprop="description")=theme
							br
							b.strong Date: 
							span(itemprop="startDate" content=dateschema)=date
							br
							b.strong Local: 
							span(itemprop="location" itemscope itemtype="http://schema.org/Place")
								span(itemprop="name")=local
								Span(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
									span(itemprop="addressLocality")=address

			section.container
				h1.heading-lv1 Talks presented
				
			// Articles
			// Get and parse the projects.json file by Grunt	
			- for (var y = 0; y < talks.length; y++)
				- var event = talks[y].event
				- var theme = talks[y].theme
				- var attendees = talks[y].attendees
				- var date = talks[y].date
				- var local = talks[y].local
				- var address = talks[y].address
				- var url = talks[y].url
				- var dateschema = talks[y].dateschema
					article(class="article" itemscope itemtype="http://schema.org/Event")
						h2(class="heading-lv2" itemprop="name")=event
						p.paragraph
							b.strong Theme: 
							span(itemprop="description")=theme
							br
							b.strong Attendees: 
							span=attendees
							br
							b.strong Date: 
							span(itemprop="startDate" content=dateschema)=date
							br
							b.strong Local: 
							span(itemprop="location" itemscope itemtype="http://schema.org/Place")
								span(itemprop="name")=local
								Span(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
									span(itemprop="addressLocality")=address
							br
							a(href=url class="btn" itemprop="url") See Slides

		// footer
		// -----------------------------------------
		include ./includes/footer.jade
			
		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
