doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		//Page infos
		-var title = "Talks by Afonso Pacifer"
		-var description = "The list of talks presented by Alfonso Pacifer"
		
		// SEO
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS3, Javascript, Talks, Presentations")
		meta(name="description" content=description)
		meta(name="robots" content="index,follow")
		title= title

		// Open Graph
		meta(property="og:type" content="website")
		meta(property="og:title" content= title)
		meta(property="og:description" content=description)
		meta(property="og:url" content="http://afonsopacifer.com/talks.html")
		meta(property="og:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")

		// Twitter Cards
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:title" content= title)
		meta(name="twitter:description" content=description)
		meta(name="twitter:url" content="http://afonsopacifer.com/talks.html")
		meta(name="twitter:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")
		
	body

		// top bar
		// -----------------------------------------
		include ./includes/top-bar.jade
					
		// main
		// -----------------------------------------
		main.main
			section.container
				//- h1.heading-lv1 Coming next
				
			// Talks Coming next
			// Get and parse the projects.json file by Grunt	
			- for talks_nex in talks_next
				- var event = talks_nex.event
				- var theme = talks_nex.theme
				- var date = talks_nex.date
				- var local = talks_nex.local
				- var address = talks_nex.address
				- var dateschema = talks_nex.dateschema
					article(class="article" itemscope itemtype="http://schema.org/Event")
						h2(class="heading-lv2" itemprop="name")=event
						p.paragraph
							b.strong Theme: 
							span(itemprop="description")=theme
							br
							b.strong Date: 
							span(itemprop="startDate" content=dateschema)=date
							br
							b.strong Local: 
							span(itemprop="location" itemscope itemtype="http://schema.org/Place")
								span(itemprop="name")=local
								Span(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
									span(itemprop="addressLocality")=address

			section.container
				h1.heading-lv1 Talks presented
				
			// Talks presented
			// Get and parse the projects.json file by Grunt	
			- for talk in talks
				- var event = talk.event
				- var theme = talk.theme
				- var attendees = talk.attendees
				- var date = talk.date
				- var local = talk.local
				- var address = talk.address
				- var url = talk.url
				- var dateschema = talk.dateschema
					article(class="box" itemscope itemtype="http://schema.org/Event")
						h2(class="heading-lv2" itemprop="name")=event
						p.paragraph
							b.strong Theme: 
							span(itemprop="description")=theme
							br
							b.strong Attendance: 
							span=attendees
							br
							b.strong Date: 
							span(itemprop="startDate" content=dateschema)=date
							br
							b.strong Local: 
							span(itemprop="location" itemscope itemtype="http://schema.org/Place")
								span(itemprop="name")=local
								Span(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")
									span(itemprop="addressLocality")=address
							br
							a(href=url class="btn" itemprop="url") See Slides

		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
