doctype html
html(lang="en" prefix="og: http://ogp.me/ns#")

	// head
	// -----------------------------------------
	head
		// head requests
		include ./includes/head-requests.jade
		
		// SEO
		meta(name="keywords" content="Afonso Pacifer, Front-End, HTML5, CSS3, Javascript, Talks, Presentations")
		meta(name="description" content="A list of talks presenteds by Afonso Pacifer")
		meta(name="robots" content="index,follow")
		title Talks by Afonso Pacifer

		// Open Graph
		meta(property="og:type" content="website")
		meta(property="og:title" content="Talks by Afonso Pacifer")
		meta(property="og:description" content="A list of talks presenteds by Afonso Pacifer")
		meta(property="og:url" content="http://afonsopacifer.com/talks.html")
		meta(property="og:image" content="http://afonsopacifer.com/assets/img/afonso-pacifer.png")
		
	body

		// top bar
		// -----------------------------------------
		include ./includes/top-bar.jade
					
		// main
		// -----------------------------------------
		main.main
			div.container
				h1.heading-lv1 Talks
				
			// Articles
			// Get and parse the projects.json file by Grunt	
			- for (var i = 0; i < talks.length; i++)
				- var event = talks[i].event
				- var theme = talks[i].theme
				- var attendees = talks[i].attendees
				- var date = talks[i].date
				- var local = talks[i].local
				- var url = talks[i].url
					article.talk
						h2.heading-lv2=event
						p.paragraph
							b.strong Theme:
							span=theme
							br
							b.strong Attendees: 
							span=attendees
							br
							b.strong Date: 
							span=date
							br
							b.strong Local: 
							span=local
							br
							a(href=url class="btn") See Slides

		// footer
		// -----------------------------------------
		include ./includes/footer.jade
			
		// bottom requests
		// -----------------------------------------
		include ./includes/bottom-requests.jade
