extends ./layouts/default.jade

block page_infos
	-var title = "Afonso Pacifer"
	-var description = ""
	-var keywords = ""

block page_style
	-var skin = "bs-default"

block content

	main.or-main.or-container

		//- Writing Updates
		//- ===========================================
		section.or-section.bs-post
			h2.at-heading-lv2 Writing

			- for (var i = 0; i < 3; ++i)
				article.ml-article

					a(href=articles[i].url target="_blank" class="bs-decoration-off")
						h3.ml-heading-lv3
							span.at-heading-lv3-text=articles[i].name
							span.at-date=articles[i].date
						div.img-container
							img(src="assets/img/articles-covers/"+articles[i].img alt=articles[i].alt class="at-img")

					p.at-paraghaph=articles[i].description

					div.ml-tags-container
						- each tag in articles[i].tags
							a(href="tags/"+tag+".html" class="at-tag")=tag

		//- Screencasts Updates
		//- ===========================================
		section.or-section.bs-screencast
			h2.at-heading-lv2 Screencasts

			- for (var x = 0; x < 1; ++x)
				article.ml-article

					a(href=screencasts[x].url target="_blank" class="bs-decoration-off")
						h3.ml-heading-lv3
							span.at-heading-lv3-text=screencasts[x].ep
								span=screencasts[x].theme
							span.at-date=screencasts[x].date
						div.img-container
							img(src="assets/img/screencasts-covers/"+screencasts[x].img alt=screencasts[x].alt class="at-img")
							span.at-video-dutarion=screencasts[x].time

					p.at-paraghaph=screencasts[x].description

					div.ml-tags-container
						- each tag in screencasts[x].tags
							a(href="tags/"+tag+".html" class="at-tag")=tag

		//- Misc Updates
		//- ===========================================
		section.or-section.bs-misc
			h2.at-heading-lv2 Misc

			- for (var y = 0; y < 2; ++y)
				article.ml-article

					a(href=miscs[y].url target="_blank" class="bs-decoration-off")
						h3.ml-heading-lv3
							span.at-heading-lv3-text=miscs[y].name
							span.at-date=miscs[y].date
						div.img-container
							img(src="assets/img/misc-covers/"+miscs[y].img alt=miscs[y].alt class="at-img")
							span.at-video-dutarion=miscs[y].time

					p.at-paraghaph=miscs[y].description

					div.ml-tags-container
						- each tag in miscs[y].tags
							a(href="tags/"+tag+".html" class="at-tag")=tag
