extends ./layouts/default.jade

block page_infos
	-var title = "Afonso Pacifer"
	-var description = ""
	-var keywords = ""

block content

	//- Featured
	//- ===========================================
	// div.featured

	//- Updates
	//- ===========================================
	main.main.container

		//- Articles list
		section.section.post
			h2.heading-lv2 Writing

			- for (var i = 0; i < 3; ++i)
				- var img = articles[i].img
				- var alt = articles[i].alt
				- var name = articles[i].name
				- var description = articles[i].description
				- var url = articles[i].url
				- var date = articles[i].date
				- var local = articles[i].local

					article.article
						a(href=url target="_blank" class="article-link")
							h3.heading-lv3
								span.heading-lv3-text=name
								span.date=date
							div.img-container
								img(src="assets/img/articles-covers/"+img alt=alt class="img")
						p.paraghaph=description
						div.tags-container
							- each tag in articles[i].tags
								a(href="tags/"+tag+".html" class="tag")=tag

		//- Screencasts list
		section.section.screencast
			h2.heading-lv2 Screencasts

			- for (var x = 0; x < 1; ++x)
				- var img = screencasts[x].img
				- var alt = screencasts[x].alt
				- var url = screencasts[x].url
				- var date = screencasts[x].date
				- var ep = screencasts[x].ep
				- var time = screencasts[x].time
				- var theme = screencasts[x].theme

					article.article
						a(href=url target="_blank" class="article-link")
							h3.heading-lv3
								span.heading-lv3-text=ep
									span=theme
								span.date=date
							div.img-container
								img(src="assets/img/screencasts-covers/"+img alt=alt class="img")
								span.img-dutarion=time
						div.tags-container
							- each tag in screencasts[x].tags
								a(href="tags/"+tag+".html" class="tag")=tag

		//- Miscs list
		section.section.misc
			h2.heading-lv2 Misc

			- for (var y = 0; y < 2; ++y)
				- var img = misc[y].img
				- var alt = misc[y].alt
				- var url = misc[y].url
				- var date = misc[y].date
				- var name = misc[y].name
				- var time = misc[y].time
				- var description = misc[y].description

					article.article
						a(href=url target="_blank" class="article-link")
							h3.heading-lv3
								span.heading-lv3-text=name
								span.date=date
							div.img-container
								img(src="assets/img/misc-covers/"+img alt=alt class="img")
								span.img-dutarion=time
						p.paraghaph=description
						div.tags-container
							- each tag in misc[y].tags
								a(href="tags/"+tag+".html" class="tag")=tag
