extends ./layouts/default.jade

block page_infos
	-var title = "Screecast"
	-var description = ""
	-var keywords = ""

block page_style
	-var skin = "bs-screencast"

block content

	main.or-main.or-container

		//- Screencasts list
		section.or-section
			h2.at-heading-lv2 Screencasts
				span.at-total-value=screencasts.length

			div.or-list-article

				- for screencast in screencasts
					article.ml-article

						a(href=screencast.url target="_blank" class="bs-decoration-off")
							h3.ml-heading-lv3
								span.at-heading-lv3-text=screencast.ep
									span=screencast.theme
								span.at-date=screencast.date
							div.img-container
								img(src="assets/img/screencasts-covers/"+screencast.img alt=screencast.alt class="at-img")
								span.at-video-dutarion=screencast.time

						p.at-paraghaph=screencast.description

						div.ml-tags-container
							- each tag in screencast.tags
								a(href="tags/"+tag+".html" class="at-tag")=tag
