extends ./layouts/default.jade

block page_infos
	-var title = "Writing"
	-var description = ""
	-var keywords = ""

block content

	//- Updates
	//- ===========================================
	main.main

		div.container
			//- Articles list 2016
			section.section.post
				h2.heading-lv2 Writing

				div.list-articles

					- for article in articles
						- var img = article.img
						- var alt = article.alt
						- var name = article.name
						- var description = article.description
						- var url = article.url
						- var date = article.date
						- var local = article.local

							article.article
								a(href=url target="_blank" class="article-link")
									h3.heading-lv3
										span.heading-lv3-text=name
										span.date=date
									div.img-container
										img(src="assets/img/articles-covers/"+img alt=alt class="img")
								p.paraghaph=description
								div.tags-container
									- each tag in article.tags
										a(href="tags/"+tag+".html" class="tag")=tag
